@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
}

:root {
  /* 색상 */
  --background: #ffffff;
  --text-color-default: #0f0f0f;
  --text-color-secondary: #606060;
  --button-bg-primary: #f2f2f2;
  --button-bg-hover: #dddddd;

  /* 폰트 */
  --font-family: "Pretendard";
}

body {
  background: var(--background);
  color: var(--text-color-default);
  font-family: var(--font-family);
}

.text-default {
  color: var(--text-color-default);
}

.text-secondary {
  color: var(--text-color-secondary);
}

.btn-bg-primary {
  background-color: var(--button-bg-primary);
  transition: background-color 0.3s ease;
}

.btn-bg-primary:hover {
  background-color: var(--button-bg-hover);
}
