.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}
.hamburger-button {
  font-size: 30px;
  margin: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.youtube-logo {
  font-size: 20px;
  color: #212121;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 50px;
}

.youtube-icon {
  margin-right: 10px;
  color: #ff0033;
  font-size: 40px;
}

.search-bar {
  margin-left: auto;
}
